* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Poppins", sans-serif;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #60a3bc;
}
canvas {
  width: 70%;
  height: 70%;
  border: 5px solid #000;
  top: 0;
  left: 0;
}
